body {
	background: linear-gradient(to bottom, #FCA5F1, #73E2F7, #FCF795);
}

/* Schedule Styles */
.schedule {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.column {
	flex-basis: calc(100% / 7);
    padding: 10px;
    box-sizing: border-box;
}

.column-header {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
}

.column-header h3 {
	margin: 0;
}

.column-header button {
	background-color: #5cb85c;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	cursor: pointer;
}

.column-header button:hover {
	background-color: #449d44;
}

.column-body {
	position: relative;
	height: 1200px;
	background-color: #fff;
	overflow-y: scroll;
	border: 1px solid #ccc;
}

.time {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #888;
}

.time:nth-child(2n) {
	background-color: #f9f9f9;
}

.event {
	position: absolute;
	background-color: #f8c291;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.event:hover {
	opacity: 0.8;
}

.hidden {
	display: none;
}

/* Modal Styles */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	display: none;
}

.modal-content {
	background-color: #fff;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	position: relative;
}

.modal-content h2 {
	margin-bottom: 20px;
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	background-color: transparent;
	border: none;
	color: #888;
	cursor: pointer;
}
